body{
  background: #2f5b4e;
}
.container{
  max-width: 750px;
}
textarea.post_message,
textarea.post_message:focus{
  color: #fff;
  background: rgba(0,0,0,0.2);
}
.messages li{
  background: #4e8f7b;
}